* {
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

body {
    background-color: white;
}

.top-container {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#00000085, #00000095), url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 40px;
}

.navbar {
    flex: 1;
    text-align: right;
}

.nav-section li {
    list-style: none;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
}

.nav-section li a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-family: montserrat;
}

.nav-section li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f93002;
    display: block;
    margin: auto;
    visibility: hidden;
    transition: all 0.5s;
}

.nav-section li:hover::after {
    width: 100%;
    visibility: visible;
}

#menuIcon {
    display: none;
}

#crossIcon {
    display: none;
}

.texts {
    width: 90%;
    color: white;
    margin: 23vh auto;
    text-align: center;
}

.texts h1 {
    font-size: 5rem;
    font-family: 'Great Vibes', cursive;
    padding: 3vh 3vh;
    text-align: center;
}

.texts p {
    font-size: 1.875rem;
    color: #ff6a00;
    font-family: poppins;
    text-align: center;
}

.skills {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff9f5;
    padding-bottom: 60px;
}

.skills h2 {
    font-size: 3.125rem;
    font-family: ubuntu;
    color: #e36613;
    padding: 50px 0 50px 0;
    text-align: center;
}

#skill-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.skill-row {
    width: 20%;
    background-color: #efe9e3;
    border: 1px solid #efe9e3;
    border-radius: 5px;
    margin: 0 100px;
}

.skill-image {
    width: 85%;
    height: 30vh;
    display: block;
    margin: 20px auto 10px auto;
    border-radius: 2px;
}

.skill-row h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5625rem;
    margin: 10px auto;
    font-family: montserrat;
    color: rgb(52, 47, 47);
}

.skill-row p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 0 0 1vh 0;
    font-family: montserrat;
    color: rgb(52, 47, 47);
}

.last-container {
    width: 100%;
    height: 45vh;
    background: rgb(235 216 208);
}

.contact-me {
    width: 70%;
    margin: 0 auto;
}

.contact-me h2 {
    font-size: 2.8rem;
    font-family: ubuntu;
    color: rgb(230, 86, 34);
    padding: 50px 0 20px 0;
    text-align: center;
}

.contact-me h3 {
    width: 45%;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    font-family: ubuntu;
    color: rgb(255, 145, 0);
    margin-bottom: 1vh;
    line-height: 1;
}

.contact-me p {
    width: 35%;
    text-align: center;
    margin: auto;
    font-size: 0.7rem;
    font-family: montserrat;
    color: rgb(255, 145, 0);
    margin-bottom: 10px;
}

.btn {
    width: 150px;
    font-family: montserrat;
    height: 20px;
    text-decoration: none;
    display: block;
    margin: 30px auto 10px auto;
    text-align: center;
    font-weight: 800;
    font-size: 0.9375rem;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 10px;
    background-size: 300% 300%;
    color: white;
    box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 1px 4px rgba(0, 0, 0, 0.08);
    background-image: linear-gradient(to left, #f29f5c 0%, #ffc6ab 50%, #f2905c 100%);
    transition: all 0.5s;
}

.btn:hover {
    background-position: right center;
    transform: scale(1.05, 1.05);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 20%;
    height: 20%;
    margin: 5px auto 15px auto;
}

.footer-link {
    width: 40px;
    height: 40px;
    display: inline-block;
}

.footer-mid {
    margin: 0 31px;
}

.footer-link img {
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 10px;
    transition: all 0.2s;
}

.footer-link img:hover {
    width: 35px;
    height: 35px;
}

.copyright {
    width: 100%;
    height: 10vh;
    background-color: rgb(33, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.copyright p {
    width: 100%;
    text-align: center;
    font-size: 0.7rem;
    font-family: PT Serif;
    color: #ffffff;
    display: block;
}

@media (max-width: 700px) {
    .top-container {
        min-height: 60vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    nav {
        padding-top: 15px;
    }

    .navbar {
        position: absolute;
        height: 100vh;
        width: 180px;
        background: #f95d02;
        top: 0;
        right: 0px;
        visibility: hidden;
        text-align: left;
        z-index: 2;
        transition: all 0.1s;
}

    .navbar ul {
        display: block;
        margin-top: 30px;
        margin-left: 20px;
    }

    .navbar ul li {
        display: block;
    }

    .navbar ul li a {
        text-decoration: none;
        color: white;
        font-size: 0.9rem;
    }

    #menuIcon {
        display: block;
        font-size: 22px;
        color: white;
        margin: 15px;
        cursor: pointer;
    }

    #crossIcon {
        display: block;
        font-size: 22px;
        color: white;
        margin: 15px;
        cursor: pointer;
    }

    .texts {
        width: 90%;
        color: white;
        text-align: center;
        margin: 15vh auto;
    }

    .texts h1 {
        font-size: 3.2rem;
        padding: 1vh 0;
    }

    .texts p {
        width: 95%;
        font-size: 1rem;
        display: block;
        margin: auto;
    }

    .skills {
        padding-bottom: 0;
    }

    .skills h2 {
        font-size: 2.6rem;
        padding: 40px 0 30px 0;
    }

    #skill-row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .skill-row {
        width: 70%;
        margin-bottom: 50px;
    }

    .skill-row h3 {
        font-size: 1.2rem;
    }

    .skill-row p {
        font-size: 0.5rem;
    }

    .contact-me h2 {
        font-size: 2rem;
    }

    .contact-me h3 {
        width: 80%;
        font-size: 1.5rem;
    }

    .contact-me p {
        width: 90%;
        font-size: 0.7rem;
    }

    .last-container {
        width: 100%;
        height: 50vh;
        background: rgb(235 216 208);
    }

    .copyright p {
        font-size: 0.5rem;
    }

}
